/* Fixed-width hints */
#header, #flash { max-width: 990px; }
#title { max-width: 975px; }
#content { max-width: 960px; }
#header, #title, #content, #footer, #flash {
  margin: 0 auto;
}
/* end fixed-width hints */

body {
  margin: 0;
  font-size: 13px;
  background: #111;
  color: #222;
}

body, input, select, button {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

pre, kbd {
  font-family: "DejaVu Mono", monospace;
}

pre {
  display: block;
  line-height: 1.4;
  overflow: auto;
  background: white;
  padding: 10px;
  margin: 10px -15px;
  border-top: 1px solid #ddd;
  -moz-box-shadow: inset 0 5px 5px #eee;
  -webkit-box-shadow: inset 0 5px 5px #eee;
  box-shadow: inset 0 5px 5px #eee;
}

a {
  outline: none;
  color: #0070C4;
}

a img {
  border: none;
}

.sub {
  font-size: smaller;
}

#header {
  background: #111;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(100,100,100)),
      color-stop(0.16, rgb(77,77,77)),
      color-stop(0.75, rgb(48,48,48)),
      color-stop(1, rgb(28,28,28))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(100,100,100) 0%,
      rgb(77,77,77) 16%,
      rgb(48,48,48) 75%,
      rgb(28,28,28) 100%
    );
  overflow: auto;
}

#header h1 {
  display: none;
}

#header ul {
  list-style: none;
  overflow: auto;
  margin: 0 0 0 165px;
}

#header ul li {
  border-left: 1px solid black;
  float: left;
  width: 120px;
}

#header ul li.home {
  width: 164px;
}

#header ul li a {
  border-left: 1px solid #555;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: silver;
  font-size: 13px;
  line-height: 1;
  text-shadow: -1px -1px 0px black;
  padding: 23.5px 0;
}

#header ul li div {
  display: none;
  background: white;
  background: rgba(255,255,255,0.8);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(220,220,220,0.8)),
      color-stop(0.1, rgba(255,255,255,0.8))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgba(220,220,220,0.8) 0%,
      rgba(255,255,255,0.8) 10%
  );
  width: 520px;
  position: absolute;
  top: 60px;
  z-index: 100;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  padding: 7px 10px;
}

#header ul li.models div {
  width: 360px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { #header ul li div { top: 59px; }}

#header ul li:hover div {
  display: block;
}

#header ul li.home a {
  background: url(images/logo.png) no-repeat 13px 50%;
  text-indent: -150px;
  text-align: left;
}

#header li:last-child {
  border-right: 1px solid #555;
}

#header li:last-child a {
  border-right: 1px solid black;
}

#header ul li a:hover {
  background-color: rgba(0,0,0,0.1);
}

#header ul li div p {
  float: left;
  width: 220px;
  color: #444;
  font-size: 16px;
  padding: 3px 14px 0 0;
  border-right: 1px solid #ddd;
  -moz-box-shadow: 1px 0 0 #eee;
  -webkit-box-shadow: 1px 0 0 #eee;
  box-shadow: 1px 0 0 #eee;
}

#header ul li div ul {
  margin: 0;
  width: 260px;
  border-left: 1px solid #eee;
  -moz-box-shadow: -1px 0 0 #ddd;
  -webkit-box-shadow: -1px 0 0 #ddd;
  box-shadow: -1px 0 0 #ddd;
  padding: 0 0 0 15px;
}

#header ul li.models div ul {
  width: 100px;
}

#header ul li div ul li {
  float: none;
  width: auto;
  border: none !important;
  color: #888;
  margin: 0 0 7px;
}

#header ul li div ul li:last-child {
  margin-bottom: none;
}

#header ul li div ul li a {
  border: none !important;
  text-align: left;
  text-transform: none;
  text-decoration: underline;
  color: #444;
  line-height: 1.2;
  text-shadow: 1px 1px 0 white;
  padding: 3px 5px 3px 0;
  font-size: 14px;
  display: inline;
}

#header ul li div ul li a:hover {
  background: none;
  color: black;
}

#header p.secondary {
  position: absolute;
  right: 15px;
  top: 0;
  width: 200px;
  line-height: 58px;
  color: #aaa;
  text-align: right;
  font-size: 14px;
}

#header p.secondary a {
  color: inherit;
  text-shadow: -1px -1px 0 black;
}

#header p.secondary a:hover {
  color: silver;
}


/* full-width #header fixes */

#header {
  max-width: none;
}

#header ul {
  margin: 0 auto;
  width: 994px;
}

#header p.secondary {
  left: 50%;
  right: auto;
  width: 285px;
  padding: 0 10px 0 0;
  z-index: 0;
  margin: 0 0 0 200px;
}

/* end full-width #header fixed */

#nav {
  background-image:
    -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(0,79,140)),
        color-stop(1, rgb(0,39,69))
    );
  background-image:
    -moz-linear-gradient(
        center top,
        rgb(0,79,140) 0%,
        rgb(0,39,69) 100%
    );
  overflow: auto;
  font-size: 11px;
}

#nav h3 {
  float: left;
  width: 150px;
  text-align: right;
  color: silver;
  text-shadow: -1px -1px 0px black;
  padding: 1px 0 0;
  font-size: 12px;
  visibility: hidden;
}

#nav h3:after {
  content: " →";
}

#nav ul {
  list-style: none;
  overflow: auto;
  margin: 0 0 0 165px;
}

#nav ul li {
  border-left: 1px solid black;
  float: left;
  width: 100px;
}

#nav ul li a {
  border-left: 1px solid #555;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: silver;
  line-height: 1;
  text-shadow: -1px -1px 0px black;
  padding: 5px 0;
}

#nav li:last-child {
  border-right: 1px solid #555;
}

#nav li:last-child a {
  border-right: 1px solid black;
}

#nav ul li a:hover {
  background: rgba(0,0,0,0.1);
}

#main {
  background: #f1f1f1;
}

#title {
  background-color: #5FBBFF;
  background-repeat: no-repeat;
  background-position: 20px 20%;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #0070C4;
  -moz-box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
}

#title h1, #title h2 {
  font-size: 18px;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
  margin: 0;
}

#title h1 a {
  color: blue;
}

#title h2 a {
  color: inherit;
}

#title h2 {
  color: #333;
}

#content, #flash {
  background: #f1f1f1;
}

#flash {
  padding: 0 0 15px;
}

#content {
  padding: 15px 15px 50px;
  position: relative;
  overflow: auto;
}

#content>p {
  margin: 0 0 10px;
}

#content h1 {
  font-size: 18px;
  margin: 0 0 20px;
  text-shadow: 1px 1px 0 white;
  color: #333;
}

#content h2 {
  font-size: 18px;
  margin: 25px 0 20px;
  text-shadow: 1px 1px 0 white;
  color: gray;
}

#content h3 {
  margin: 30px 0 0;
}

#content>ul {
  list-style: square;
  margin: 10px 0 10px;
  padding: 0 0 0 1em
}

#content p.cta {
  border: 1px solid #5FBBFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
}

p.cta a {
  display: block;
  padding: 10px;
  color: blue;
}

#content form dl dt {
  float: left;
  width: 140px;
  text-align: right;
  margin: 0 10px 0 0;
  padding: 10px 0 0;
}

#content form dl dt .field_with_errors label, #content form dl dt.label .field_with_errors {
  color: #F16262;
}

#content form dl dt label, #content form dl dt.label {
  color: #444;
  text-shadow: 1px 1px 0 white;
}

#content form dl dd {
  margin: 0 15px 10px 150px;
  position: relative;
}

#content form dl dd input[type=text], #content form dl dd input[type=password] {
  font-size: 21px;
  padding: 4px;
  width: 100%;
  max-width: 600px;
}

#content form dl dd select {
  font-size: 21px;
}

#content form p.action {
  margin: 20px 0 0 150px;
}

#content form p.action input[type=submit], #content form p.action button {
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(100,100,100)),
      color-stop(0.16, rgb(77,77,77)),
      color-stop(0.75, rgb(48,48,48)),
      color-stop(1, rgb(28,28,28))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(100,100,100) 0%,
      rgb(77,77,77) 16%,
      rgb(48,48,48) 75%,
      rgb(28,28,28) 100%
    );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #ddd;
  text-decoration: none;
  text-shadow: -1px -1px 0 black;
  text-align: center;
  font-size: 18px;
}

p.flash {
  margin: 0 15px;
  padding: 10px;
  position: relative;
  color: white;
  font-size: 15px;
}

p.flash.error {
  background: #F16262;
  border-left: 1px solid #C11A1A;
  border-bottom: 1px solid #C11A1A;
  border-right: 1px solid #C11A1A;
  text-shadow: -1px -1px 0 #C11A1A;
}

p.flash.notice {
  background: silver;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  text-shadow: -1px -1px 0 gray;
}

p.flash:before {
  position: absolute;
  left: -35px;
  top: -7px;
  line-height: 45px;
  font-size: 40px;
  text-shadow: 1px 1px 0 silver;
}

p.flash.error:before {
  content: "⚠";
  color: #F16262;
}

#footer #divider {
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(77,77,77)),
      color-stop(1, rgb(48,48,48))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(77,77,77) 0%,
      rgb(48,48,48) 100%
    );
  overflow: auto;
  font-size: 11px;
  min-height: 15px;
  clear: both;
}

#footer #map {
  -moz-box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 0 black;
  overflow: auto;
  padding: 0 0 45px 0;
  width: 990px;
  margin: 0 auto;
}

#footer #map #slogan {
  margin: 25px 15px 0 13px;
  width: 135px;
  float: left;
}

#footer #map #slogan h1 {
  font-size: 16px;
  color: #2DB56A;
  font-weight: normal;
}

#footer #map #slogan p.slogan {
  color: silver;
}

#footer #map p.description, #footer #map #links p {
  font-size: 11px;
  color: gray;
  margin: 5px 0 0;
}

#footer #links {
  margin: 25px 0 0;
}

#footer #links ul {
  list-style: none;
}

#footer #links>ul {
  overflow: auto;
  width: 364px;
}

#footer #links>ul>li {
  width: 121px;
  float: left;
}

#footer #links ul li.home,
#footer #links ul li.models,
#footer #links ul li ul li span,
#footer #links ul li ul li:first-child,
#footer #links ul li p {
  display: none;
}

#footer #links a {
  color: gray;
  font-size: 16px;
  text-decoration: none;
}

#footer #links a:hover {
  text-decoration: underline;
  color: silver;
}

#footer #links ul li ul li a {
  color: #555;
  font-size: 13px;
}

#footer #map #social {
  float: right;
  list-style: none;
  margin: 25px 0 0 20px;
}

#footer #map #social li {
  width: 40px;
  float: right;
  margin: 0 0 0 6px;
}

#footer #map #social li a {
  display: block;
  background: #222;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(100,100,100)),
      color-stop(0.16, rgb(77,77,77)),
      color-stop(0.75, rgb(48,48,48)),
      color-stop(1, rgb(28,28,28))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(100,100,100) 0%,
      rgb(77,77,77) 16%,
      rgb(48,48,48) 75%,
      rgb(28,28,28) 100%
    );
  overflow: auto;
  color: #aaa;
  text-shadow: 0 -1px 0 #000;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Social Media Vectors";
}

#footer #map #social li a:hover {
  color: #ccc;
}

ul.pages {
  list-style: none !important;
  padding: 0 0 0 5px !important;
  overflow: auto;
  position: absolute;
  left: 50%;
  width: 960px;
  margin: 0 0 0 -480px;
}

ul.pages li {
  float: right;
  margin: 0;
}

ul.pages li.overview {
  font-weight: bold;
}

ul.pages li.current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.pages>li.current>span, ul.pages li ul li.current {
  display: block;
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  -moz-box-shadow: -1px -1px 0 silver;
  -webkit-box-shadow: -1px -1px 0 silver;
  box-shadow: -1px -1px 0 silver;
}

ul.pages>li.current>span, ul.pages li a {
  line-height: 24px;
  padding: 0 6px;
}

ul.pages li.current:first-child {
  margin-left: 0;
}

ul.pages li a {
  display: block;
  color: #124165;
}

ul.pages li.current, ul.pages li a {
  line-height: 24px;
  padding: 0 6px;
}

ul.pages li a:hover {
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(230,230,230)),
      color-stop(1, rgb(200,200,200))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(230,230,230) 0%,
      rgb(200,200,200) 100%
    );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.tronprint-footprint {
  margin-top: 15px !important;
  font-size: 12px !important;
  color: #555 !important;
}
