    <div id="elsewhere">
      <div id="twitter">
        <p>Interesting article: The powers of cap and trade, and why demonizing it was a serious mistake <a href="http://cot.ag/bAcOnm">http://cot.ag/bAcOnm</a> <span>via <%= link_to '@brighterplanet', 'http://twitter.com/brighterplanet' %></p>
      </div>
      <div id="blog" class="derek">
        <p><%= link_to 'Bundler to the Max', 'http://numbers.brighterplanet.com/2010/07/28/bundler-to-the-max' %> by Derek yesterday on <%= link_to 'Safety in Numbers', 'http://numbers.brighterplanet.com' %>, our blog</p>
      </div>
    </div>

