<div id="main">
  <div id="title">
  <%= render :partial => 'layouts/title' %> 
  </div>

<% if flash[:error] or flash[:notice] %>
  <div id="flash">
<% if error = flash[:error] %>
    <p class="flash error"><%= error %></p>
<% elsif notice = flash[:notice] %>
    <p class="flash notice"><%= notice %></p>
<% end %>
  </div>
<% end %>

